@mixin placement($yaxis) {
  &-start {
    justify-content: $yaxis;
    align-items: flex-start;

    & div {
      text-align: left;
    }
  }

  &-center {
    justify-content: $yaxis;
    align-items: center;

    & div {
      text-align: center;

      &:empty {
        text-align: left;
      }
    }
  }

  &-end {
    justify-content: $yaxis;
    align-items: flex-end;

    & div {
      text-align: right;
    }
  }
}

.top {
  @include placement(flex-start);
}

.middle {
  @include placement(center);
}

.bottom {
  @include placement(flex-end);
}

.cedit {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1.5px solid #e5e5ea;
  outline: 3px solid transparent;
  padding: 2px 4px;
  border-radius: 4px;
  min-height: 80px;
  transition: 0.3s;

  &:hover {
    border-color: #70a1ff;
  }

  &:focus-within {
    border-color: #79a4f3;
    outline-color: #a6e9ff;
  }
}

.cedit__content {
  font-family: Arial, Helvetica, sans-serif;
  border: none !important;
  outline: none !important;
  line-height: 1.3;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;

  &:empty::before {
    position: relative;
    content: attr(placeholder);
    background-color: transparent !important;
    opacity: 0.45;
  }
}
